IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'ptcuser000')
CREATE USER [ptcuser000] FOR LOGIN [ptcuser000] WITH DEFAULT_SCHEMA=[dbo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Buses]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Buses](
	[BusID] [int] NOT NULL,
	[NumberPlate] [nchar](10) NULL,
	[BusLineID] [int] NULL,
	[BusType] [tinyint] NULL,
	[DepRate] [real] NULL,
	[Price] [real] NULL,
 CONSTRAINT [PK_Buses] PRIMARY KEY CLUSTERED 
(
	[BusID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BusTypes](
	[BusTypeID] [int] NOT NULL,
	[BusTypeName] [char](20) NULL,
	[Power] [real] NULL,
	[BusLoad] [smallint] NULL,
 CONSTRAINT [PK_BusTypes] PRIMARY KEY CLUSTERED 
(
	[BusTypeID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusInservices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BusInservices](
	[BusID] [int] NOT NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[Direction] [tinyint] NULL,
	[Velocity] [real] NULL,
	[Passengers] [smallint] NULL,
	[UTC] [char](6) NULL,
	[RecordType] [tinyint] NULL,
 CONSTRAINT [PK_BusInservices] PRIMARY KEY CLUSTERED 
(
	[BusID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[UserType] [tinyint] NULL,
	[EquipID] [smallint] NULL,
	[UserName] [char](20) NULL,
	[Password] [char](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alarms]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alarms](
	[AlarmSeq] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[UserType] [tinyint] NULL,
	[EquipID] [smallint] NULL,
	[Status] [int] NULL,
	[UTC] [char](6) NULL,
	[Reserved] [int] NULL,
 CONSTRAINT [PK_Alarms_1] PRIMARY KEY CLUSTERED 
(
	[AlarmSeq] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UspOutputData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UspOutputData]

@tablename sysname

AS

declare @column varchar(1000)

declare @columndata varchar(1000)

declare @sql varchar(4000)

declare @xtype tinyint

declare @name sysname

declare @objectId int

declare @objectname sysname

declare @ident int

set nocount on

set @objectId=object_id(@tablename)

if @objectId is null -- 判断对象是否存在

begin

print ''The object not exists''

return

end

set @objectname=rtrim(object_name(@objectId))

if @objectname is null or charindex(@objectname,@tablename)=0 --此判断不严密

begin

print ''object not in current database''

return

end

if OBJECTPROPERTY(@objectId,''IsTable'') < > 1 -- 判断对象是否是table

begin

print ''The object is not table''

return

end

select @ident=status&0x80 from syscolumns where id=@objectid and status&0x80=0x80

if @ident is not null

print ''SET IDENTITY_INSERT ''+@TableName+'' ON''

declare syscolumns_cursor cursor

for select c.name,c.xtype from syscolumns c where c.id=@objectid order by c.colid

open syscolumns_cursor

set @column=''''

set @columndata=''''

fetch next from syscolumns_cursor into @name,@xtype

while @@fetch_status < >-1

begin

if @@fetch_status < >-2

begin

if @xtype not in(189,34,35,99,98) --timestamp不需处理，image,text,ntext,sql_variant 暂时不处理

begin

set @column=@column+case when len(@column)=0 then'''' else '',''end+@name

set @columndata=@columndata+case when len(@columndata)=0 then '''' else '','''','''',''

end

+case when @xtype in(167,175) then ''''''''''''''''''+''+@name+''+'''''''''''''''''' --varchar,char

when @xtype in(231,239) then ''''''N''''''''''''+''+@name+''+'''''''''''''''''' --nvarchar,nchar

when @xtype=61 then ''''''''''''''''''+convert(char(23),''+@name+'',121)+'''''''''''''''''' --datetime

when @xtype=58 then ''''''''''''''''''+convert(char(16),''+@name+'',120)+'''''''''''''''''' --smalldatetime

when @xtype=36 then ''''''''''''''''''+convert(char(36),''+@name+'')+'''''''''''''''''' --uniqueidentifier

else @name end

end

end

fetch next from syscolumns_cursor into @name,@xtype

end

close syscolumns_cursor

deallocate syscolumns_cursor

set @sql=''set nocount on select ''''insert ''+@tablename+''(''+@column+'') values(''''as ''''--'''',''+@columndata+'','''')'''' from ''+@tablename

print ''--''+@sql

exec(@sql)

if @ident is not null

print ''SET IDENTITY_INSERT ''+@TableName+'' OFF''

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StationStatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StationStatus](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [int] NULL,
	[BusPits] [tinyint] NULL,
	[BusWaiting] [tinyint] NULL,
	[BusID1] [smallint] NULL,
	[BusID2] [smallint] NULL,
	[BusID3] [smallint] NULL,
	[BusID4] [smallint] NULL,
	[BusID5] [smallint] NULL,
 CONSTRAINT [PK_StationStatus] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusLines]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BusLines](
	[BusLineID] [int] NOT NULL,
	[BusLineName] [char](10) NULL,
	[Reserved] [int] NULL,
 CONSTRAINT [PK_BusLines] PRIMARY KEY CLUSTERED 
(
	[BusLineID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusLineStations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BusLineStations](
	[BusLineID] [int] NOT NULL,
	[StopSeq] [tinyint] NOT NULL,
	[StationID] [int] NULL,
 CONSTRAINT [PK_BusLineStations] PRIMARY KEY CLUSTERED 
(
	[BusLineID] ASC,
	[StopSeq] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Stations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Stations](
	[StationID] [int] NOT NULL,
	[StationName] [char](40) NULL,
	[longitude] [float] NULL,
	[latitude] [float] NULL,
	[BusPits] [tinyint] NULL,
 CONSTRAINT [PK_Stations] PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END



insert bustypes(BusTypeID,BusTypeName,Power,BusLoad) values(1, '奔驰',200,100)
insert bustypes(BusTypeID,BusTypeName,Power,BusLoad) values(2, '奥迪',180,80)
insert bustypes(BusTypeID,BusTypeName,Power,BusLoad) values(3,'大宇', 160,60)

insert buses(BusID,NumberPlate,BusLineID,BusType,DepRate,Price) values(	1,N'苏A00001',1	,1,0.9,100)
insert buses(BusID,NumberPlate,BusLineID,BusType,DepRate,Price) values(	2,N'苏A00002',1	,1,0.9,100)
insert buses(BusID,NumberPlate,BusLineID,BusType,DepRate,Price) values(	3,N'苏A00003',1	,2,0.8,90)


insert stations(StationID,StationName,longitude,latitude,BusPits) values(1,'大厂',0  ,0.2,5)
insert stations(StationID,StationName,longitude,latitude,BusPits) values(2,'杨庄',0.1,0.2,3)
insert stations(StationID,StationName,longitude,latitude,BusPits) values(3,'丁解',0.2,0.2,2)

insert buslines(BusLineID,BusLineName,Reserved) values(	1,'1路',NULL)
insert buslines(BusLineID,BusLineName,Reserved) values(	2,'2路',NULL)
insert buslines(BusLineID,BusLineName,Reserved) values(	3,'3路',NULL)

insert buslinestations(BusLineID,StopSeq,StationID) values(1,1,1)
insert buslinestations(BusLineID,StopSeq,StationID) values(1,2,2)
insert buslinestations(BusLineID,StopSeq,StationID) values(1,3,3)


insert users(UserID,UserType,EquipID,UserName,Password) values(	1,1,1,'yangzhuang','yangzhuang')
insert users(UserID,UserType,EquipID,UserName,Password) values(	2,1,2,'yanjiang','yanjiang')
insert users(UserID,UserType,EquipID,UserName,Password) values(	3,2,3,'daben','daben')
